.Home{
    display: flex;
    justify-content: space-between;
    height: calc(100vh - 5rem);

}

.Texto{
    width: 50%;
    padding-top: 1.2rem;
    font-family:"Public Sans", sans-serif;
}

.Texto h1{
    font-size: 3rem ;
    color: #1650BF;
    padding-left: 15px;
}

.Texto h2{
    font-size: 4rem;
    margin-left: 50px;
    color: #061634;
    padding-left: 15px;
}

.Texto p {
    font-size: 20px;
    padding-left: 15px;
    color: #061634;
}

.Texto a{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F5DAE2;
    font-size: 24px;
    height: 5rem;
    width: 350px;
    padding: 20px;
    border-radius: 0px 50px 50px 0px;
    text-decoration: none;
    color: black;
}

.Texto a img{
    height: 100%;
}

.Quadrado{
    width: 30%;
    background-color: #103C8F;
    border-radius: 200px 0px 0px 0px;
    border-left: 50px solid #1650BF;
    border-top: 50px solid #1650BF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
  
.Janela{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 750px;
    height: 650px;
    border: 2px solid white;
    border-radius: 20px;
    background-color: #1650BF;
    position: absolute;
    margin-top: 55px;
    right: 100px;
}

.Logo{
    width: 650px;
    height: 450px;
    margin-top: 90px;
    border: 2px solid white;
    border-radius: 10px;
} 