.container{
    width: 100%;
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content{
    background-color: #fff;
    width: 90%;
    height: 100%;
    border-radius: 10px;
}

.content .imagem{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    & img{
        width: auto;
        height: 90%;
        border-radius: 50% ;
        object-fit: cover;
        object-position: center;
        
    }
}

.content .texto{
    width: 50%;
    text-align: center;
}