@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.navbar{
  display: flex;
  width: 100%;
  padding: 10px;
  height:auto;
  justify-content: space-between;
  align-items: center;
  font-family:"Public Sans", sans-serif;
}

.item{
  display: flex;
  gap: 60px
}

a{
  color: #061634;
  text-decoration: none;
}

.pesquisa > form > input{
  height: 2.5rem;
  border-radius: 20px;
  padding-left: 10px;
  background-color: #F5DAE2;
  font-family:"Public Sans", sans-serif;
  border: none;
}